.header {
  background: white;
  height: 80px;
}

.header.full {
  background: transparent;
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
}

.logo svg {
  width: 100px;
}

.mainNav {
  margin-left: 40px;
}

.mainNav li {
  display: inline-block;
  text-transform: uppercase;
}

.mainNav a,
.secondNav a {
  color: #444;
  line-height: 80px;
}

.mainNav a {
  display: block;
  padding: 0 30px;
}

.active,
.mainNav .active a,
.mainNav a:hover {
  background-color: #f6f6f6;
  color: black;
}

.secondNav a:hover {
  color: black;
}

.header.full .mainNav li:nth-child(2).active {
  background-color: rgba(255,255,255,.3);
}

.secondNav {
  margin-left: auto;
}

.secondNav li {
  display: inline-block;
  margin-left: 30px;
}
